Repository apache/hertzbeat-collector-go, pull requests merged in 2025-09, with the labels that each got.

#7 docs(core): update contributor guides and add Chinese version
  .github/workflows/lint-pr-title.yml
  CONTRIBUTING-CN.md
  CONTRIBUTING.md
  README-CN.md
  README.md
Labels: area/infra, area/docs

#9 feat: optimize something
  Dockerfile
  README-CN.md
  README.md
  Roadmap.md
  docker-compose.yml
  docs/GO_STYLE.md
  docs/img/arch.png
Labels: area/docs

#14 refactor(core): Improve dispatching
  examples/main_simulation.go
  internal/cmd/server.go
  internal/collector/basic/init.go
  internal/collector/common/collect/dispatch/metrics_collector.go
  internal/collector/common/collect/result_handler.go
  internal/collector/common/dispatcher/common_dispatcher.go
  internal/collector/common/dispatcher/time_wheel.go
  internal/collector/common/dispatcher/wheel_timer_task.go
  internal/collector/common/job/job_server.go
Labels: area/example

#17 chore: fix header formatting in README.md
  README.md
Labels: area/docs

#18 fix(transport): fix transport, hertzbeat
  .github/workflows/lint-pr-title.yml
  examples/main.go
  internal/transport/netty_client.go
  internal/transport/processors.go
Labels: area/infra, area/example

#19 feat(core): transport scheduler integration
  Dockerfile
  Makefile
  docker-compose.yml
  internal/cmd/server.go
  internal/collector/basic/database/jdbc_collector.go
  internal/collector/common/collect/dispatch/metrics_collector.go
  internal/collector/common/collect/result_handler.go
  internal/collector/common/collect/strategy/strategy_factory.go
  internal/collector/common/dispatcher/common_dispatcher.go
  internal/collector/common/dispatcher/hashed_wheel_timer.go
  internal/collector/common/dispatcher/time_wheel.go
  internal/collector/common/dispatcher/wheel_timer_task.go
  internal/collector/common/router/message_router.go
  internal/collector/common/transport/transport.go
  internal/collector/common/types/job/job_types.go
  internal/collector/common/types/job/metrics_types.go
  internal/transport/netty_client.go
  internal/transport/processors.go
  internal/util/crypto/aes_util.go
  internal/util/param/param_replacer.go
  tools/docker/docker-compose/docker-compose.yml
  tools/make/golang.mk
  tools/make/image.mk
Labels: area/infra
